.loading {
  margin-top: 1rem;
  border: 20px solid #eee;
  border-radius: 50%;
  border-bottom: 20px solid transparent;
  animation: 1s loading linear infinite;
}

@keyframes loading {
  to {
    rotate: 360deg;
  }
}
